<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>El Coyote Hambriento</title>
    <link rel="stylesheet" href="../Statics/css/Diseño.css">
  </head>
  <body>
    <fieldset class="aber">
      <legend><h1>El Coyote Hambriento</h1> </legend>
      <table class="transparente">
        <tr>
          <th><h1>Regístrate</h1></th>
          <th><h1>Inicia Sesión</h1> </th>
        </tr>
        <tr>
          <th>
            <form action="../Dynamics/php/Registro.php" method="post">
              <input type="submit" value="Registrate"> <br>
            </form>
          </th>
          <th>
            <form action="../Dynamics/php/Inicio Sesion.php" method="post">
              <input type="submit" value="Enviar">
            </form>
          </th>
        </tr>
      </table>
    </fieldset> <hr>
  </body>
</html>
