body{
    background: no-repeat  url("../Img/Fondo.jpg");
    background-size: cover;
    font-family: Candara
}

.transparente {
  background-color:rgba(0, 0, 0, 0.76);
  width: 370px;
  height: 210px;
  color: white;
}

.transparente1 {
  background-color:rgba(0, 0, 0, 0.76);
  width: 370px;
  height: 222px;
  color: white;
}

.transparente2 {
  background-color:rgba(0, 0, 0, 0.76);
  width: 370px;
  height: 210px;
  color: white;
  text-align: left;
}

.aber{
  width: 377px;
  height: 300px;
  color: solid white;
  margin:auto;
}

.primera{
  width: 700px;
}

img{
  position: relative;
  left: 400px;
}
