<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sancion</title>
    <link rel = "stylesheet" href = "../statics/css/Diseño.css">
  </head>
  <body>
    <form action="../dynamics/entregado.php" method="post">
      <fieldset>
        <legend><h1 align="center">Ingrese el id del pedido que fue entregado satisfactoriamente y el cliente correspondiente</h1></legend>
        Id del cliente: <input type="number" name="idcliente" value="" required> <br>
        Id del pedido: <input type="number" name="idpedido" value="" required> <br>
        <input type="submit" value="Enviar">

    </form>
    <form class="" action="../dynamics/supervisor.php" method="post">
      <input type="submit" value="Regresar">
    </form>
    </fieldset>
  </body>
</html>
