<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>El Coyote Hambriento</title>
    <link rel="icon" href="../../Statics/Img/Logo.png">
    <link rel="stylesheet" href="../Statics/css/Diseño.css">
  </head>
  <body>
    <fieldset class="aber">
      <legend><h1>Inicia Sesion</h1> </legend>
      <form  action=".html" method="post">
        <table class="transparente2">
          <tr>
            <th><h3>Usuario:</h3></th>
            <th><input type="text" name="user" size="25" placeholder="No. Cuenta, RFC, No. Trabajador"></th>
          </tr>
          <tr>
            <th><h3>Contraseña</h3></th>
            <th><input type="password" name="pass" size="25" placeholder="*******"> </th>
          </tr>
          <tr>
            <th colspan="2" style="text-align:center;"> <input type="submit" value="Iniciar Sesion"> </th>
          </tr>
        </table>
      </form></th>
    </fieldset>
  </body>
</html>
