<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>El Coyote Hambriento</title>
    <link rel="icon" href="../Statics/Img/Logo.png">
    <link rel="stylesheet" href="../Statics/css/Diseño.css">
  </head>
  <body>
      <fieldset class="aber">
        <legend> <h1>El Coyote Hambriento</h1></legend>
        <table class="transparente1">
          <tr>
            <th><h2>Regístrate</h2></th>
            <th><h2>Inicia Sesión</h2> </th>
          </tr>
          <tr>
            <th>
              <form action="../Dynamics/Registro.php" method="post">
                <input type="submit" value="Registrate"> <br>
              </form>
            </th>
            <th>
              <form action="./Inicio Sesion.html" method="post">
                <input type="submit" value="Iniciar Sesión">
              </form>
            </th>
          </tr>
        </table>
      </fieldset> <br>
      <img src="../Statics/Img/Logo.png" alt="Logo" style="height:70px">
  </body>
</html>
