<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Administradores</title>
        <link rel = "stylesheet" href = "../statics/css/Diseño.css">
    </head>
    <body>
        <form>
            <fieldset><legend><h2>Selecciona lo que modificarás</h2></legend>
                <p><a href = "../dynamics/ModifUsuario.php">Modificar Usuarios</a></p>
                <a href = "../dynamics/ModifProducto.php">Modificar Productos</a>
            </fieldset>
        </form>
    </body>
</html>