<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sancion</title>
  </head>
  <body>
    <form action="../dynamics/sancion.php" method="post">
      <fieldset>
        <legend><h1 align="center">Ingrese el id del cliente a sancionar y el pedido que no fue entregado satisfactoriamente</h1></legend>
        Id del cliente: <input type="number" name="idcliente" value="" required> <br>
        Id del pedido: <input type="number" name="idpedido" value="" required> <br>
        <input type="submit" value="Enviar">
      </fieldset>
  </body>
</html>
